---
layout: default
title: uprotocol
---

<div class="container">
    <div class="row mr-3">
        <div class="col-12 col-lg-8 mb-5 my-lg-auto text-center text-lg-start">
            <h1 class="fw-light">A Universally Open Protocol</h1>
            <p>{{ site.description}}</p>
            <p class="mb-lg-0">
                <a href="mailto:{{ site.email }}" class="btn btn-primary btn-lg rounded-pill me-2 shadow" role="button">Contact us</a>
                <a href="https://velitasali.com/en/blog/development/trebleshot-to-create-content-exchange-standard/" class="btn btn-link btn-lg rounded-pill" role="button" target="_blank" rel="noopener noreferrer">Read more <i class="ms-2 fa fa-external-link"></i></a>
            </p>
        </div>
        <div class="col-12 col-lg-4 text-center text-lg-end my-5 order-first order-lg-last">
            <img class="symbolic-logo-uprotocol" style="width: 12.5em; height: 12.5em" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Used By</h2>
            <p class="text-secondary">These are the software that actively uses uprotocol.</p>
        </div>
        {% for implementator in site.implementators %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-img-top text-center mt-3">
                    <a href="{{ implementator.link }}" target="_blank" rel="noopener noreferrer">
                        <img src="{{ implementator.logo | relative_url }}" alt="{{ implementator.name}} logo" style="width: 7.5em; height: 7.5em;"/>
                    </a>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">
                        <a href="{{ implementator.link }}" target="_blank" rel="noopener noreferrer">{{ implementator.name }}</a>
                    </h3>
                    <p class="card-text">{{ implementator.description }}</p>
                </div>
            </div>  
        </div>
        {% endfor %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100 bg-cloud">
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <div class="my-auto">
                        <h3 class="card-title">Have an app?</h3>
                        <p class="card-text">Let's put your <b>uprotocol</b> app here!</p>
                        <a href="mailto:{{ site.email }}" class="btn btn-primary btn-lg rounded-pill shadow" role="button">Contact us</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <h2>Implementations</h2>
            <p class="text-secondary">The libraries that you can use in your apps.</p>
        </div>
        {% for implementation in site.implementations %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card bg-cloud">
                <div class="card-body">
                    <h3 class="card-title">
                        {% if implementation.link %}
                        <a href="{{ implementation.link }}" target="_blank" rel="noopener noreferrer">{{ implementation.name }}</a>
                        {% else %}
                        {{ implementation.name }} <small class="ms-2 text-muted">(Soon)</small>
                        {% endif %}
                    </h3>
                    <p class="card-text">{{ implementation.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>