---
layout: default
title: uprotocol
---

<div class="container">
    <div class="row mr-3">
        <div class="col-12 col-lg-8 mb-5 my-lg-auto text-center text-lg-start">
            <h1 class="fw-light">A Universally Open Protocol</h1>
            <p>{{ site.description}}</p>
            <p class="mb-lg-0">
                <a href="mailto:{{ site.email }}" class="btn btn-primary btn-lg rounded-pill me-2 shadow" role="button">Contact us</a>
                <a href="{{ 'about' | relative_url }}" class="btn btn-link btn-lg rounded-pill" role="button">About Initiative</a>
            </p>
        </div>
        <div class="col-12 col-lg-4 text-center text-lg-end my-5 order-first order-lg-last">
            <img class="symbolic-logo-uprotocol" style="width: 12.5em; height: 12.5em" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Used By</h2>
            <p class="text-secondary">These are the software that actively uses uprotocol.</p>
        </div>
        {% for implementator in site.implementators %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <div class="ratio ratio-16x9">
                        <div class="d-flex">
                            <img src="{{ implementator.logo | relative_url }}"
                                class="card-img-top w-auto m-auto"
                                alt="{{ implementator.name}} logo"
                                title="{{ implementator.name}} logo"
                                style="height: 8em"/>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        {{ implementator.name }}
                        {% for platform in implementator.platforms %}
                            <i class="fa fa-{{ platform }} ms-2"
                                alt="Supports {{ platform | capitalize }}"
                                title="Supports {{ platform | capitalize }}"></i>
                        {% endfor %}
                    </h3>
                    <p>{{ implementator.description }}</p>
                    <p class="card-text">
                        <a class="btn btn-primary" href="{{ implementator.link }}" target="_blank" rel="noopener noreferrer">Go to Website <i class="ms-2 fa fa-external-link"></i></a>
                    </p>
                </div>
            </div>  
        </div>
        {% endfor %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100 bg-cloud">
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <div class="my-auto">
                        <h3 class="card-title">Have an app?</h3>
                        <p class="card-text">Let's put your <b>uprotocol</b> app here!</p>
                        <a href="mailto:{{ site.email }}" class="btn btn-primary btn-lg rounded-pill shadow" role="button">Contact us</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <h2>Implementations</h2>
            <p class="text-secondary">The libraries that you can use in your apps.</p>
        </div>
        {% for implementation in site.implementations %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card bg-cloud h-100">
                {% if implementation.unfinished %}
                <div class="card-header">
                    Coming soon&hellip; <i class="fa fa-time"></i>
                </div>
                {% endif %}
                <div class="card-body{% if implementation.unfinished %} text-secondary{% endif %}">
                    <h3 class="card-title">{{ implementation.name }}</h3>
                    <p class="card-text">{{ implementation.description }}</p>
                </div>
                {% if implementation.links %}
                <div class="card-footer">
                    {% for link in implementation.links %}
                    <a class="me-3" href="{{ link.address }}"{% if link.external %} role="button" target="_blank" rel="noopener noreferrer"{% endif %}>
                        {{ link.name }}
                        {% if link.external %}<i class="ms-1 fa fa-external-link"></i>{% endif %}
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>