<!DOCTYPE html>
<html lang="{{ LANGUAGE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{ 'img/logo.symbolic.small.png' | relative_url }}">
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="{{ page.keywords }}"/>
    <meta name="author" content="{{ site.author }}"/>
    <meta name="theme-color" content="#FFFFFF">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://design.velitasali.com/css/main.css">
    <link rel="stylesheet" href="https://design.velitasali.com/css/main-dark.css" media="(prefers-color-scheme: dark)">
    <style>
        .symbolic-logo-uprotocol {
            content: url({{ 'img/logo.symbolic.svg' | relative_url }});
        }

        @media (prefers-color-scheme: dark) {
            .symbolic-logo-uprotocol {
                content: url({{ 'img/logo.symbolic.dark.svg' | relative_url }})
            }
        }
    </style>
</head>
<body id="page-top">
    <div class="container transition-navbar my-4" id="main-nav">
        <header>
            <nav class="navbar navbar-light navbar-bg navbar-expand-lg">
                <a href="{{ 'index.html' | relative_url }}">
                    <img class="symbolic-logo-uprotocol navbar-brand" style="width: 1.6rem;" />
                </a>
                <a href="{{ 'index.html' | relative_url }}" class="navbar-brand mx-auto me-lg-3 ms-lg-0">
                    {{ site.title}}
                </a>
                <button class="border-0 navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarResponsive"
                        aria-controls="navbarResponsive" 
                        aria-expanded="false"
                        aria-label="Toggle top bar visibility">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav justify-content-end ms-auto w-100">
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="modal" href="#specsDetailsModal" 
                                role="button">where are the specs?</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ 'about' | relative_url }}">initiative</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <noscript>
        <div class="container">
            <div class="alert" role="alert">
                <h4 class="alert-heading">Javascript is disabled.</h4>
                <p class="mb-0">
                    This website requires Javascript to function properly.
                    Please enable Javascript in your browser settings.
                </p>
            </div>
        </div>
    </noscript>

    {{ content }}

    <footer role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-4 text-secondary">
                    <span class="bigdot"></span>
                </div>
                <div class="col-12 mb-4 text-center overflow-hidden">
                    <p class="m-0 text-secondary">&copy; {{ "now" | date: "%Y" }} <a href="https://monora.org">monora.org</a></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="specsDetailsModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Where is the specification?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Although the JVM implementation of <b>uprotocol</b> is relatively stable, there hasn't been 
                    an initiative to document the way the protocol works, as that would take a lot of time.</p>
                    <p>If you care about this happening, please give the <b>specs</b> repo a star
                        <i class="fa fa-star"></i> on GitHub so that we can know you are interested. You can also approach us so that we can 
                        talk about how you can help.</p>
                    <p class="mb-0">
                        <a class="github-button" href="https://github.com/uprotocol/specs" 
                            data-color-scheme="no-preference: light; light: light; dark: dark;" 
                            data-icon="octicon-star" data-size="large" data-show-count="true" 
                            aria-label="Star uprotocol/specs on GitHub">Star</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ 'js/bootstrap.min.js' | relative_url }}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
